#header-container{
  display: flex;
  width: 100vw;
  height: var(--header-size);

  position: fixed;
  left: 0;
  top: 0;

  background-color: var(--accent-color);
}

.header-title{
  display: flex;
  align-items: center;
  font-family: 'Noto Sans', monospace;
  font-size: 46px;
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;
}

.header-tab{
  text-decoration: none;
  color: var(--background-color);
  font-size: 32px;
  font-family: 'Roboto Mono', sans-serif;
  margin-right: 24px;
  display: flex;
  align-items: flex-end;
}


.header-tab:hover{
  border-bottom: 3px var(--background-color) solid;
}
